
*{
	margin: 0;
	padding: 0;
	border: 0;
}

html, body{
	width: 100%;
	height: 100%;
	background-color: #001;
	font-family:  Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

main{
	height: 100%;
}

/* Nav */

nav{
	width: 130px;
	border-right: 2px solid gray;	
	position: fixed;
	height: 100%;
	background-color: #001;
	z-index: 9999;
}

li{
	text-align: center;
	margin: 55px 40px;
	list-style: none;
}

li a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}

 li a .fa{
 	font-size: 38px;
 	margin: 10px 0;
 }

/* Geral */



header{
	background-image: url(../img/bg-computer.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.container{
	position: relative;
	top: 50%;
	width: 50%;
	margin: 0 auto;
}

header section h1{
	color: #fff;
	text-align: center;
	font-size: 46px;
}

h1 .right-font-cargo{
	font-size: 37px;
}

header section h1, h1 .right-font-cargo{
	font-style: italic;
}

/* Sobre */

article{
	width: 100%;
	background-color: #fff;	
}

article h2{
	margin: 3% 0;
}

.corpo-sobre{
	width: 65%;
	color: #001;
	margin:0 auto;
	padding: 3% 5%;	
}

.corpo-skills{
	width: 65%;
	margin: 0 auto;
	padding: 3% 0;
}

.corpo-skills h3{
	font-size: 25px;
	text-decoration: underline;
	padding: 0 0 3% 0;
	text-align: center;
}

.corpo-progress-bar{
	width: 100%;
	height: 30px;
	background-color: #A9A9A9;
	border-radius: 15px;
	margin:5px 0 15px 0;
	text-align: center;
	color: #fff;
	line-height: 30px;
}

.corpo-progress-bar .corpo-progress-bar-html{
	width: 90%;
	height: 30px;
	background-color: #FF4500;
	border-radius: 15px;
}

.corpo-progress-bar .corpo-progress-bar-css{
	width: 90%;
	height: 30px;
	background-color: #4169E1;
	border-radius: 15px;
}

.corpo-progress-bar .corpo-progress-bar-js{
	width: 70%;
	height: 30px;
	background-color: #FFD700;
	border-radius: 15px;
}

.corpo-progress-bar .corpo-progress-bar-jquery{
	width: 85%;
	height: 30px;
	background-color: #191970;
	border-radius: 15px;
}

.corpo-progress-bar .corpo-progress-bar-git{
	width: 70%;
	height: 30px;
	background-color: #FF6347;
	border-radius: 15px;
}

.corpo-progress-bar .corpo-progress-bar-gulp{
	width: 70%;
	height: 30px;
	background-color: #FF0000;
	border-radius: 15px;
}

.corpo-progress-bar .corpo-progress-bar-php{
	width: 25%;
	height: 30px;
	background-color: #6A5ACD;
	border-radius: 15px;
}


.corpo-progress-bar .corpo-progress-bar-wordpress{
	width: 70%;
	height: 30px;
	background-color: #6495ED;
	border-radius: 15px;
}

/* Portfolio */

#port{
	width: 100%;
	background-color: #fff;
}

.corpo-portfolio{
	width: 91%;
	padding: 2% 0 6% 9%;
	display: flex;
	flex-wrap: wrap;
}

section h3{
	color: #001;
	display: block;
	text-align:center;
	padding: 5% 0 5% 4%;
	font-size: 4vw;
	text-decoration: underline;
}

.corpo-portfolio .card{
	max-width: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}


.corpo-portfolio figcaption{
	width: 100%;
	text-align: center;
	margin-top: -365px;
	background-color: #001;
	color: #fff;
	padding: 20px 0;
}


/* Animação portfolio */

.corpo-portfolio img:hover{
	margin-top: 30px;
	transition: 0.5s;
}

/* Footer Contato */

footer{
	width: 91%;
	margin-left: 9%;
	padding: 3% 0;
	color: #fff;
}

footer h3{
	text-align: center;
	font-size: 24px;
	text-decoration: underline;
	padding: 3% 0;
}

.contato{
	width: 60%;
	margin: 0 auto;
	display: flex;
	font-size: 20px;
	padding: 1% 0;
}

.contato i{
	line-height: 27px;
}

.contato p{
	padding: 0 1%;
}

.contato p a{
	color: #fff;
}

.contato ul{
	display: flex;
}

@media screen and (max-width: 1024px){
	nav{
		display: none;
	}


	.corpo-portfolio{
		width: 100%;
		padding-left: 0;
	}

	.corpo-portfolio .card{
		max-width: 100%;
	}

	.contato{
		width: 80%;
		margin-left: 0;
	}
}
